.DS_Store
build_ios/build
build_ios/*_output_directory
build_ios/**/MySQL.build

# CMake

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


# Xcode

xcuserdata/